<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>view_chat.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/root-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DependencyServlet</display-name>
    <servlet-name>DependencyServlet</servlet-name>
    <servlet-class>kr.or.iei.tv.controller.DependencyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DependencyServlet</servlet-name>
    <url-pattern>/dependency1.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dependency2Servlet</display-name>
    <servlet-name>Dependency2Servlet</servlet-name>
    <servlet-class>kr.or.iei.person.controller.Dependency2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dependency2Servlet</servlet-name>
    <url-pattern>/dependency2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeanTestServlet</display-name>
    <servlet-name>BeanTestServlet</servlet-name>
    <servlet-class>kr.or.iei.bean.test.BeanTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeanTestServlet</servlet-name>
    <url-pattern>/beanTest.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeanTest2Servlet</display-name>
    <servlet-name>BeanTest2Servlet</servlet-name>
    <servlet-class>kr.or.iei.bean.test.BeanTest2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeanTest2Servlet</servlet-name>
    <url-pattern>/beanTest2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeanTest3Servlet</display-name>
    <servlet-name>BeanTest3Servlet</servlet-name>
    <servlet-class>kr.or.iei.bean.test.BeanTest3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeanTest3Servlet</servlet-name>
    <url-pattern>/beanTest3.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeanTest4Servlet</display-name>
    <servlet-name>BeanTest4Servlet</servlet-name>
    <servlet-class>kr.or.iei.bean.test.BeanTest4Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeanTest4Servlet</servlet-name>
    <url-pattern>/beanTest4.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeanTest5Servlet</display-name>
    <servlet-name>BeanTest5Servlet</servlet-name>
    <servlet-class>kr.or.iei.bean.test.BeanTest5Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeanTest5Servlet</servlet-name>
    <url-pattern>/beanTest5.do</url-pattern>
  </servlet-mapping>
</web-app>